@charset 'utf-8';

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none;
    /*Firefox*/
    -ms-text-size-adjust: none;
    /*Ie*/
    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    /* 가장 많이 쓰는 글 */
    font-family: 'pretendard';
    font-size: 17px;
    line-height: 1.5em;
    color: #333;
}

#header {
    width: 100%;
    background-color: #2A3D5B;
    height: 100px;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
}

.inner_header h1 {
    color: #fff;
    font-size: 42px;
}

#btn_wrap {
    width: 1320px;
    margin: 0 auto;
    padding-top: 70px;
}

#btn_wrap ul {
    display: flex;
}

#btn_wrap ul li {
    width: 100px;
    height: 40px;
    background-color: #9A9A9A;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

.select {
    background-color: #2A3D5B !important;
    color: #fff;
}

#tab_wrap {
    width: 1320px;
    margin: 0 auto;
    padding-top: 30px;
}

.introduce_upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profile_box {
    width: 360px;
}

.profile_img {
    display: block;
}

.profile_box h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
}

.profile_pic {
    display: block;
}

.introduce_low {
    display: flex;
    justify-content: space-between;
}

.introduce_low img {
    display: block;
    margin-bottom: 50px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.snap_tab_txt h3 {
    text-align: center;
    margin: 20px 0;
}

.snap_studio {
    width: 410px;
}

.snap_tab ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.snap_tab ul li {
    width: 410px;
    margin-bottom: 50px;
}

.snap_tab_txt {
    width: 410px;
}

.commercial_tab ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.commercial_tab ul li {
    width: 410px;
    margin-bottom: 50px;
}

.commercial_tab_txt {
    width: 410px;
}

.video_tab ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video_tab ul li {
    width: 410px;
    margin-bottom: 50px;
}

.video_tab_txt {
    width: 410px;
}
.video_tab span{
    display: block;
    margin: 20px 0;
    font-size: 15px;
}
.video_tab a{
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    background-color: #2A3D5B;
    color: white;
    border-radius: 10px;
}
.video_link{
    text-align: center;
}
#tab_wrap{
    position: relative;
}
.introduce_tab{
    width: 1320px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9;
}
.snap_tab{
    width: 1320px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9;
}
.commercial_tab{
    width: 1320px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9;
}
.video_tab{
    width: 1320px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9;
}
.swiper-button-prev:after,.swiper-button-next:after{
    color: white;
    opacity: 0.5;
    
}
